/* src/components/Categories/Categories.css */
.categories {
    margin: 70px 0;
}

.col-3 {
    flex-basis: 30%;
    min-width: 250px;
    margin-bottom: 30px;
}

.col-3 img {
    width: 100%;
}

@media only screen and (max-width: 600px) {
    .col-3 {
        flex-basis: 100%;
    }
}